.prim-home-container{
  border: 3px solid green;
  display: flex;
  justify-content: space-between;

  .schools-list{
    .school-card{
      border: 2px solid black;
      
    }
    border: 4px solid blue;
  }
  .users-list{
    .user-card{
      border: 2px solid black;
      
    }
    border: 4px solid purple;
  }
}

.issue-form{
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: left;
  margin: 30px auto;
}

label{
 font-weight: bolder;
}

.issue-status{
  display: flex;
  
  align-items: center;
  text-align: center;
}

.radio-inputs{
  margin: 10px;
}

input{
  margin: 2px;
}

.login-form{
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 20%;
  margin: 20px auto;
  border: 3px solid black;
}


.login-signup{
  border: magenta 3px solid;
  padding: 5px;
  width: 30%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

